h1, #stateCanvas #stateSelect{
	display: flex;
	justify-content: center;
}

.lineSet {
	fill: none;
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.totalCases {
	stroke: steelblue;
}

.allBars {
	stroke-width: 0.2;
	stroke: black;
	fill: steelblue;
	box-sizing: inherit;
	opacity: 0.85;
}

.tooltip {
	position: absolute;
	text-align: center;
	background-color: white;
	border: 2px solid;
	border-radius: 5px;
	padding: 5px;
	pointer-events: none;
}