h1, #stateCanvas div, #mapCanvas div{
	display: flex;
	justify-content: center;
}

.lineSet {
	fill: none;
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
}

.totalCases {
	stroke: steelblue;
}

#changeCases {
	stroke: #39FF14;
}

.allBars {
	stroke-width: 0.2;
	stroke: black;
	fill: steelblue;
	box-sizing: inherit;
	opacity: 0.85;
}